.p-users {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  .users-header {
    margin-bottom: 30px;
    height: 100px;
  }

  .users-content {
    height: 78%;
    width: 90%;
    margin: 0 auto;
    border: solid 1px var(--border-color);
    border-radius: 18px;
    background: var(--background-color);
    box-shadow: 0 8px 30px var(--neutral-shadow-sm);
    scrollbar-width: 1px;
    scroll-behavior: smooth;
    overflow-y: auto;

    .loader {
      width: 100%;
      display: grid;
      place-items: center;

      svg {
        width: 200px;
        height: 100px;

        circle {
          fill: var(--font-color-primary-0);
        }
      }
    }

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: radial-gradient(circle, var(--font-color-primary-0) 60%, transparent 100%);
    }

    .users-table {
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 500;
      border-collapse: separate;
      border-spacing: 0;
      position: relative;
      overflow-y: auto;

      .table-head {
        height: 50px;
        font-size: 13px;
        user-select: none;

        th {
          border-bottom: solid 1px var(--border-color-1);
          position: sticky;
          top: 0;
          background: var(--background-color);
          z-index: 99;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 0.06em;
          color: var(--font-color-primary-0);

          &.email,
          &.login {
            text-align: left;
            padding-left: 6px;
          }
        }
      }

      .table-body {
        user-select: none;

        tr {
          transition: background-color 0.2s ease;

          &:last-child td {
            border-bottom: none;
          }

          &:hover {
            background: var(--background-color-1);
          }
        }

        td {
          border-bottom: solid 1px var(--border-color);
          height: 61px;
          text-align: center;
          transition: color 0.2s ease;

          &.email,
          &.login {
            text-align: left;
          }
        }
      }
    }
  }

  .users-pagination {
    width: 50%;
    height: 20px;
    margin: 30px auto auto;
  }
}